.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: sticky;
  top: 0;
  background-color: var(--bg);
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.home-button {
  display: none;
}
.home-text {
  display: block;
}

.categories-button {
  display: none;
}
.categories-text {
  display: block;
}

/* SEARCH START */
.search-button {
  display: inline-block;
  align-items: center;
  gap: 10px;
  background-color: var(--bg-soft);
  color: var(--text-soft);
  padding: 5px;
  border-radius: 10px;
}

#search {
  background-color: transparent; /* Set form background color to transparent */
  margin: 0; /* Remove default form margin */
  display: flex; /* Optional: Adjust display properties as needed */
  padding: 5px;
}

#search-input {
  width: 100%;
  border: none; /* Optional: Add border for better visibility */
  outline: none;
  background-color: transparent; /* Set input background color to transparent */
  color: #dee4eb; /* Set the text color */
  font-size: large;
}
/* SEARCH END */

.toggle {
  width: 40px;
  height: 20px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--bg-soft);
  border: 0.5px solid var(--text-soft);
  padding: 5px;
  position: relative;
}

.ball {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  background-color: var(--text-soft);
  border: 1px solid var(--bg-soft);
}

.light .ball {
  left: unset;
  right: 0;
}

@media (max-width: 768px) {
  .links {
    font-size: 14px;
  }

  .home-button {
    display: block;
  }
  .home-button svg {
    fill: var(--text);
  }
  .home-text {
    display: none;
  }

  .categories-button {
    display: block;
  }
  .categories-button path {
    stroke: var(--text);
  }
  .categories-text {
    display: none;
  }
}